<template name="expertiseNew">
  <div class="container">    
    <div id="coursebox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Расскажите о своем предмете</div>
      </div>  
        
      <div class="panel-body" >
        <form id="courseform" class="form-horizontal" role="form">
          <div class="form-group">
              <label for="verbatim" class="col-md-3 control-label">Описание</label>
              <div class="col-md-9">
                  
                  <input type="text" class="form-control" name="verbatim" id="verbatim" placeholder="Например: Алгебра для старшеклассников" value={{courseVerbatim}}>
              </div>
          </div>
            
            
            {{#if currentUser}}
              <div class="form-group">
              <label for="subject" class="col-md-3 control-label">Предмет</label>
              <div class="col-md-9">
                  <select class="form-control" id="subject" placeholder="Выберите предмет курса">
                    <option>Математика</option>
                    <option>Физика</option>
                    <option>Английский</option>
                    <option>Химия</option>
                  </select>
              </div>
              </div>

              <div class="form-group">
                  <label for="target" class="col-md-3 control-label">Для кого предназначен курс</label>
                  <div class="col-md-9">
                      <select class="form-control" id="subject" placeholder="Выберите предмет курса">
                        <option>Начальная школа</option>
                        <option>Средние классы</option>
                        <option>Старшие классы</option>
                        <option>Студенты ВУЗов</option>
                      </select>
                  </div>
              </div>

              <div class="form-group">
                  <label for="duration" class="col-md-3 control-label">Длительность курса, мин</label>
                  <div class="col-md-9">
                      <input type="text" class="form-control" id="duration" placeholder="минуты">
                  </div>
              </div>

              <div class="form-group">
                  <label for="price" class="col-md-3 control-label">Стоимость обучения за один курс</label>
                  <div class="col-md-9">
                      <input type="text" class="form-control" name="price" id  = "price" placeholder="рубли">
                  </div>
              </div>
            {{/if}}



            <span class="input-group-btn">
              <a class="btn btn-success" type="submit">Дальше</a>
            </span>                                        
       </form>
      </div>
    </div>
  </div>

  </div>

</template>