<template name="expertiseNew">
<div class="container">    
        <div id="ideabox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                      <div class="panel-title">ВВЕДИТЕ ОПИСАНИЕ ВАШЕГО КУРСА</div>
                    </div>

          <div style="padding-top:30px" class="panel-body" >

            <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-idea"></i></span>
            <input type="text" id ="verbatim" class="form-control" placeholder="Например: Алгебра для старшеклассников">
            <span class="input-group-btn">
            <a class="btn btn-success" type="submit">Дальше</a>
            </span>                                        
            </div>
          </div>
        </div>
      </div>
    </div>

</template>