<template name="instructorSignIn">
<form class="form-horizontal" id="instructorsignin">
<fieldset>

<!-- Form Name -->
<legend>Войдите в систему</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="text" placeholder="Ваш e-mail" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">Пароль</label>
  <div class="col-md-4">
    <input id="passwordinput" name="passwordinput" type="password" placeholder="Ваш пароль" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="verbatim">Описание Вашего курса</label>  
  <div class="col-md-4">
  <input id="verbatim" name="verbatim" type="text" placeholder="Например: Английский для начинающих" class="form-control input-md" value={{courseVerbatim}}>
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="button1id"></label>
  <div class="col-md-4">
    <a id="button1id" name="button1id" class="btn btn-default">Отмена</a>
    <a id="button2id" name="button2id" class="btn btn-success">Вход</a>
  </div>
</div>

</fieldset>
</form>
<div class="col-md-4">
    <p>Нет аккаунта? <a href="{{pathFor 'instructorCreate'}}">Зарегистрирутейсь здесь.</a></p>
 </div>
</template>